/*
 * Header
 */

.skip-link { display: none; }

.site-header {
	padding: 2em 0;
	color: #fff;
	background-color: #333;
}

.site-title {
	margin-top: 0;

	a { color: #fff; }
}

.site-description {
	color: #aaa;
	font-weight: normal;
}

