/**
 * Blog index
 */

.blog,
.archive {
    word-break: break-word;
}

article.post {
  @extend .pb-4;
  @extend .mb-4;

  float: left;
  width: 100%;
  border-bottom: 2px solid gray('200');

  .entry-featured-image {
    float: left;
    max-width: 30%;
    margin-right: 1rem;
  }

  .entry-title {
    @extend .mb-1;

    font-weight: 700;

    a {
      color: gray('900');
    }
  }

  .entry-meta {
    @extend .mb-3;

    color: gray('600');

    a {
      color: gray('700');
    }
  }

  .entry-footer {
    font-size: .9em;

    span {
        margin-right: .5rem;
    }

    .cat-links {
      @extend .mb-2;

      display: block;
    }

    .comments-link {
      display: block;
    }
  }
}

// Blog post

.entry-meta {
}

// Sticky post (maybe move it to _wordpress.scss?)

.sticky {
  padding: 1rem;
  background-color: $gray-200;
}
