.top-bar {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    color: $white;
    background-color: $p-gold;
}

.top-bar-logo {
    max-width: 4em;
    margin-left: auto;
    margin-right: auto;
    
    @include media-breakpoint-up(md) {
        margin-left: 0;
    }
}

.top-bar-icons {
    margin-top: .8em;
    text-align: center;
    padding: 0;
    
    @include media-breakpoint-up(md) {
        text-align: right;
    }
}

.top-bar-social-icon {
    margin-left: .2em;
    color: $white;
    font-size: 1.5em;
    
    &:hover {
        text-decoration: none;
    }
}

.top-bar-nav {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .top-bar-nav {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .top-bar-nav {
        justify-content: flex-end;
    }
}

.top-bar-nav a {
    font-size: 1.4rem;
    color: #fff;
}

.top-bar-nav a:nth-child(n+2) {
    margin-left: 20px;
    border-left: 1px solid #fff;
}

.space-ace {
    margin-left: 13px;
}
