/*
 * General layout
 */

.site-footer,
.site-content {
    padding-top: 2em;
    padding-bottom: 2em;
}

/*
 * Page
 */

.entry-title {
    margin-bottom: .8em;
}


/*
 * Comments
 */

#comments {
    margin-top: 2em;
}
