/*
 * Header
 */

.skip-link {
  display: none;
}

.site-header {
  padding: 2em 0;
  color: $wb-white;
  // background-color: $wb-gray-darker;
}

.site-title {
  margin-top: 0;

  a {
    // color: $wb-white;
  }
}

.site-description {
  // color: $wb-white;
  font-weight: normal;
}
