/*
 * Sidebar
 */

#secondary {
  padding: 1em;
  // background-color: $wb-gray-lighter;

  .search-submit {
    display: none;
  }


  h1.widget-title {
    font-size: $wb-font-size-h2;
  }

  .widget-title {
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid $wb-gray;
  }

  .widget {
    ul {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
    }
  }
}

/* Sidebar Navigation */

.location-page-title {
  margin-top: 0;
  margin-bottom: 1em;
}

#secondary {
  .page_item,
  .location-page-item {
    a {
      display: block;
      margin-bottom: 2px;
      padding: .2em .5em;
      font-family: $wb-factoria;
      color: $wb-white;
      text-transform: uppercase;
      background-color: $wb-brand-primary;

      &:hover {
        background-color: darken($wb-brand-primary, 5%);
      }
    }
  }
}
