/**
 * Navigation
 */

/*
 *  Mobile nav toggle menu
 */

button.menu-toggle {
  width: 100%;
  padding: .5em 1em;
  color: $wb-white;
  background-color: $wb-mobile-nav-link-bg;
  border-radius: 2px;

  .menu-toggle-icon {
    float: right;
  }

  span {
    float: left;
    margin-top: .4em;
    text-transform: uppercase;
  }
}

/*
 * Basic layout and styling for navigation (mobile first)
 */

.nav-menu {
  margin-top: 2em;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}

.menu-item,
.page_item {
  position: relative;

  a {
    display: inline-block;
    padding: .5em 1em;
    width: 100%;
    margin-bottom: 1px;
    color: $wb-white;
    background-color: $wb-gold;

    &:hover {
      @include respond-to(48em) {
        // background-color: darken($wb-gold, 10%);
        color: $wb-gold;
      }
    }

    @include respond-to(48em) {
      float: left;
      width: auto;
      padding-left: 0;
      color: #333;
      font-weight: bold;
      text-transform: uppercase;
      background-color: transparent;
    }
  }

  .nav-separator {
    margin-left: 1em;
  }

  &:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }

  &:last-child .nav-separator {
    display: none;
  }

  @include respond-to(48em) {
    float: left;
  }
}

/*
 * Dropdown structure
 */

.menu-item-has-children:hover > .sub-menu,
.page_item-has-children:hover > .sub-menu {
  @include respond-to(48em) {
    display: block !important;
  }
}

// We repeat these classes because here they are used to style dropdown components.
// If we put basic styles (above) with these (dropdown) together, it'will end unreadable
// and cluttered.

/* Top level menu item */
.menu-item,
.page_item {
  .dropdown-icon-link {
    display: inline-block;
    float: right;
    padding: .45em 0 0;
    width: 10%;
    text-align: center;
    border-left: 1px solid darken($wb-mobile-nav-link-bg, 15%);
    background-color: darken($wb-mobile-nav-link-bg, 10%);

    @include respond-to(48em) {
      display: none !important;
    }
  }

  .dropdown-icon {
    margin-top: 4px;
    margin-bottom: -2px;
  }

  &.menu-item-has-children > a:not(.dropdown-icon-link) {
    width: 90% !important;

    @include respond-to(48em) {
      width: 100% !important;
    }
  }

  // If menu item has no children then hide the dropdown icon
  &:not(.menu-item-has-children) {
    .dropdown-icon-link {
      display: none;
    }
  }
}

.show-children > .sub-menu,
.show-children > .children {
  display: block !important;
}

.sub-menu,
.children {
  display: none;

  .menu-item,
  .page_item {
    border: 0;
    display: block;
    float: none;

    a {
      @include respond-to(48em) {
        padding: .5em 1em !important;
        width: 100%;
        font-size: .9em;
        float: none;
      }
    }
  }

  a:not(.dropdown-icon-link) {
    padding-left: 3em;
  }

  .sub-menu,
  .children {
    a:not(.dropdown-icon-link) {
      padding-left: 6em;
    }

    @include respond-to(48em) {
      top: 0%;
      left: 101%;
    }
  }

  @include respond-to(48em) {
    position: absolute;
    width: 10em;
    top: 100%;
  }
}

/* Toggle button for mobile navigation */
.menu-toggle,
.main-navigation.toggled .nav-menu {
  display: block;

  @include respond-to(48em) {
    display: none;
  }
}

.main-navigation .nav-menu {
  display: none;

  @include respond-to(48em) {
    display: block;
  }
}

/* Misc navigation elements */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* Pagination */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
