/*
 * Base 
 *
 * Update the foundational and global aspects of the page.
 */

html {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
		 -moz-box-sizing: inherit;
	        box-sizing: inherit;
}	

body {
	color: $wb-text-color;
	font-family: $wb-body-font;
	font-size: $wb-font-size;
	line-height: $wb-line-height;
	background-color: $wb-body-bg;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
	color: $wb-link-color;
	text-decoration: $wb-link-decoration;

	/* `:focus` is linked to `:hover` for basic accessibility */
	&:hover,
	&:focus {
		text-decoration: $wb-link-hover-decoration;
	}

	strong {
		color: inherit;
	}
}

hr {
	margin: 2em 0;
	border-top: 1px solid #eee;
	border-bottom: none;
}

.lead {
	font-size: 1.125em;
}
